* {
	box-sizing: border-box;
	margin: 0;
}

#home, #omsetup, #singleSetup {
	text-align: center;
}

#name {
	color: #fff;
	position: relative;
	float: right;
	margin-top: .75%;
	margin-right: 5%;
	font-size: 80%;
}

#home button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

#number {
	text-align: left;
}

#number span {
	font-weight: bold;
}

#diff-col, #inst-col, #song-col {
	position: relative;
	float: left;
	width: 33%;
}

#diff-col button, #inst-col button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#ominfo, #singleInfo {
	position: relative;
	float: left;
	width: 60%;
	text-align: left;
	margin-left: 8%;
}

#ominfo span, #singleInfo span {
	font-weight: bold;
}